@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Marshall University<br />
    Huntington, WV 25701<br />
    <abbr title="Phone">P:</abbr>
    555.555.5555
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@mailinator.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@mailinator.com">Marketing@example.com</a>
</address>